<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Complaint system</title>
    <link rel="stylesheet" href="homestyle.css">
</head>
<style>
    * { 
    margin: 0;
    padding: center;
    box-sizing: border-box;
    
    height: max-content;
    text-decoration: none;
    list-style: none;
}

.big-img {
    background-image: url(https://www.zenloop.com/en/wp-content/uploads/sites/2/2021/03/beschwerdenmanagement-preview.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    background-color: #173852;
    height: 75px;
}

#stud {
    line-height: 70px;
    color: rgb(230, 230, 238);
    font-size: xx-large;
    padding: 0px 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 50px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

.active:hover {
    color: yellow;
}

.formbox1
{
    width: 45%;
    background-color: #173852;

    box-sizing: content-box;
    height: 6%;
    padding-top: 1%;
    padding-left: 1%;
    max-width: 400px;
    position:absolute;
    top: 38%;
    left:35%;
    
    font-size: large;
    background:#fff;
    text-align: left;
    
    
    float: left;
    border-radius: 15px;
}

.formbox2{
    width: 70%;
    box-sizing: content-box;
    height: 18%;
    padding-left: 1%;
    padding-top: 1.5%;
    max-width: 400px;
    position: absolute ;
    top: 48%;
    left:35%;
    
    background: #fff;
    
    text-align: center;
    border-radius: 15px;
}


.signup_link{
    margin-top: 10px;
}


.buttonfield
{
    margin-top: center ;  
    display: flex;
   
    justify-content: center;
    margin-bottom: 15px;
    /* margin-top: 5px; */
}

.buttonfield button{
    flex-basis: 48%;
    width: 100%;
    background: #173852;
    color: #fff;
    height:50px;
    border-radius: 30px;
    border: 0;
    outline:0;
    cursor: pointer;
    transition:  1s;
}


.buttonfield button.disable{
    background: #eaeaea;
    color: #555;
    margin-bottom: 5px;
    
}
.input-group{
    height: 150px;
}
</style>

<body>
    <div class="big-img">
        <nav>
            <label id="stud">Students Complaint System</label>
            <ul>
                <li><a class="active" href="/studentdash/<%=erp%>">Home</a></li>
                <li><a class="active" href="/about">About Us</a></li>
                <li><a class="active" href="/adminlogin">Admin Login</a></li>
                <li><a class="active" href="/contact">Contact Us</a></li>
                <li><a class="active" href="/logout">Logout</a></li>

            </ul>
        </nav>
        <div class="container">
            
               
                 <form class="formbox1" >  
                        <div class="input-field">
                         ERP ID:   <%=erp%>
                        </div>

                 </form> 
            
          
                <form class="formbox2" >            
                    <div class="buttonfield">
                        <button type="button" id="signupbtn" ><a href="/form/<%=erp%>" style="text-decoration: none; color: #fff;">REGISTER COMPLAINT</a></button>
                    </div>
                    <div class="buttonfield">
                        <button type="button" id="signupbtn"><a href="/status/<%=erp%>" style="text-decoration: none; color: #fff;">CHECK STATUS</a></button>
                    </div>
                    
                </form>
            

            

        </div>
    </div>
</body>
<script>
    let signupbtn = document.getElementById("signupbtn");
    


</script>


</html>


